.main { 
    font-size: 58px;
    font-family: 'Brush Script MT', cursive;
    font-style: italic;
    color: rgb(207, 137, 7);
    position: absolute;
    left: 65px;
    bottom: 480px;

}

.heading{
    position: absolute;
    top: 20px;
    text-decoration: underline;
    
    
    text-transform: uppercase;
    font-weight: bold;
    color:white
    
    
}

.subtitle {
    text-transform: uppercase;
    font-size:38pt
    
   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

section {
   
        height: 200px;
        width: 20%;
        margin-left: 30px;
        background-color: white);
      }

      .right {
        position: absolute;
        right: 90px;
        width: 300px;
         padding: 50px;
      }      
      .center {
        position: absolute;
        left: 120px;
        top: 145px;
        width: 200px;
        padding: 0px;
      }
      
      .bottom{
        
        color: rgb(207, 137, 7);
        text-transform: uppercase;
        position: absolute;
        bottom: 340px;
        left: 100px;
        
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .left {
      position: absolute;
      left: 55px;
      width: 200px;
    }
    